In [16]:
data = open('ds1.csv')
a = 2 +1

a

3

In [17]:
import pandas as pd

df = pd.DataFrame.from_csv(data,index_col=None)

In [18]:
df.head(10)

   col1  col2  col3
0   200   133   135
1   135    75   111
2   198    23    80
3    63   131    65
4    33    63   135
5    14   140   184
6   105   111   171
7    38    57   139
8    91   199    91
9   190   167   131